
        body{
            margin: 0;
            display: block;
            background-color: #DAEAF1;
        }

        h1,h3{
            color: #3f9797;
            font-size: 30px;
        }
        h2{
            color: #3f9797;
            border-bottom-style: solid;
            width: fit-content;
            border-width: 2px;
            justify-content: center;
            font-size: 28px;
        }

        .textbox{
            display: block;
            padding: 15px;
            font-size: 20px;
            font-family: 'Times New Roman', Times, serif;
        }

        hr{
            border-color: #667d7b;
            border-style: none;
            border-top-style: dotted;
            border-width: 5px;
            width: 10%;
        }
        a:link {
            color: rgb(108, 56, 206);
            background-color: transparent;
            text-decoration: none;
        }

        a:visited {
            color: rgb(108, 56, 206);
            background-color: transparent;
            text-decoration: none;
        }

        a:hover {
            color: indigo;
            background-color: transparent;
            text-decoration: none;
        }

        a:active {
            color: rgb(123, 98, 177);
            background-color: transparent;
            text-decoration: none;
        }
 
        .column {
            float: left;
            width: auto;
            padding: 5px;
            padding-left: 25px;
            justify-content: center;
        }
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        h1.course-tag{
            font-size: 30px;
            color: #3f9797;
            border-bottom-style: solid;
            padding-bottom: 10px;
        }

        ul.course_name {
            list-style-type: "\01F338";
            font-family: 'Times New Roman', Times, serif;
            font-size: 24px;
        }

        .lbl-toggle {
            display: block;
            font-weight: bold;
            font-family: monospace;
            font-size: 1.2rem;
            text-transform: uppercase;
            text-align: center;

            padding: 1rem;
            color: #3f9797;
            background: #82d1ca;
            cursor: pointer;

            border-radius: 7px;
            transition: all 0.25s ease-out;
        }

        .lbl-toggle:hover{
            color: #3b7c7c;
        }

        .lbl-toggle::before{
            content: ' ';
            display: inline-block;

            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-left: 5px solid transparent;

            vertical-align: middle;
            margin-right: .7rem;
            transform: translateY(-2px);
            transition: transform .2s ease-out;
        }

        .toggle:checked + .lbl-toggle::before {
            transform: rotate(90deg) translateX(-3px);
        }
          
        .collapsible-content {
            max-height: 0px;
            overflow: hidden;
            transition: max-height .25s ease-in-out;
            padding-left: 10px;
        }
          
        .toggle:checked + .lbl-toggle + .collapsible-content {
            max-height: 100vh;
        }
          
        .toggle:checked + .lbl-toggle {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
          
        .collapsible-content .content-inner {
            background: rgba(250, 224, 66, .2);
            border-bottom: 1px solid rgba(250, 224, 66, .45);
            border-bottom-left-radius: 7px;
            border-bottom-right-radius: 7px;
            padding: .5rem 1rem;
        }
        input[type='checkbox']{
            display: none;
        }

        .nav-bar{
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            gap: 10px;
            padding: 8px;
            background: rgb(71, 98, 149);
            color: white;
        }
        .nav-bar > p > a{
            padding: 5px;
            color: white;
            text-decoration: none;
        }
        .nav-bar > p > a:hover{
            text-decoration: underline;
        }